doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title Document
        link(rel='stylesheet', href='css/libs.min.css')
        link(rel='stylesheet', href='css/main.css')
    body
        .container
            .row
                .col-xs-3
                    figure
                        img(src='http://lorempixel.com/400/400/nature')
                        p.
                            Товарищи! начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Повседневная практика показывает, что новая модель организационной деятельности позволяет оценить значение дальнейших направлений развития. Разнообразный и богатый опыт консультация с широким активом играет важную роль в формировании существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач.
                .col-xs-3
                    figure
                        img(src='http://lorempixel.com/400/400/nature')
                        p.
                            Товарищи! начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Повседневная практика показывает, что новая модель организационной деятельности позволяет оценить значение дальнейших направлений развития. Разнообразный и богатый опыт консультация с широким активом играет важную роль в формировании существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач.


                .col-xs-3
                    figure
                        img(src='http://lorempixel.com/400/400/nature')
                        p.
                            Товарищи! начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Повседневная практика показывает, что новая модель организационной деятельности позволяет оценить значение дальнейших направлений развития. Разнообразный и богатый опыт консультация с широким активом играет важную роль в формировании существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач.
                .col-xs-3
                    figure
                        img(src='http://lorempixel.com/400/400/nature')
                        p.
                            Товарищи! начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Повседневная практика показывает, что новая модель организационной деятельности позволяет оценить значение дальнейших направлений развития. Разнообразный и богатый опыт консультация с широким активом играет важную роль в формировании существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач.

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='js/libs.min.js')
        script(src='js/common.js')